button{
    background: ghostwhite;
    color: black;
    transition: background 2s ease, color 2s;
    /*transition: color 2s ease;*/
 }
 button:hover {
    background: cornflowerblue;
    color: white;
 }